body {
    margin-left: 50px;
    margin-right: 50px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
#customers {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(19, 19, 18);
    border-collapse: collapse;
    width: fit-content;
}
#customers th {
    text-align: center;
    background-color: #4e68ff;
    color: white;
}
#customers td, #customers th {
    border: 1px solid rgb(179, 179, 174);
    border-color:rgb(179, 179, 174);
    padding: 9px;
}
#customers tr:nth-child(odd){background-color: #ffdeaf;}
#customers tr:nth-child(even){background-color: rgb(255, 244, 244);}
#customers tr:hover {background-color: #e8c089; color:aliceblue;}