/* common styles for the website elements */
body {
    margin:0;
    background-color: #e4dfda;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:#0f0402;
    text-align:center;
}
h3 {
    color:#d4b483;
    margin-top:50px;
}
/* using div to style sections of website that are mainly text */
div{
    width: 800px;
    margin:30px auto;
    font-family:Verdana, Tahoma, sans-serif;
    color:#0f0402;
    text-align:justify;
}
address {
    color:#0f0402;
    margin-bottom: 30px;
}
img {
    margin-top:20px;
}
/* id element for h1 element on website, creates a banner */
#banner {
    margin:0;
    height:90px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color:#4357ad;
    font-size:55px;
    color:#e4dfda;
    text-align:center;
    letter-spacing: 1.5px;
}
/* class element that creates the navigation pane on website */
.nav {
    height:30px;
    margin:0;
    padding-top:5px;
    background-color:#d4b483;
    color:#0f0402;
    text-align:center;
    font-size:20px;
}
/* class element that styles subtitles of different website sections */
.subtitle {
    height:25px;
    margin:0;
    padding-top:5px;
    background-color:rgba(212, 180, 131, 0.5);
    color:#0f0402;
    text-align:center;
    font-size:18px;
}
/* stylised link elements */
a:link {
    color:#48a9a6;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#c1666b;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:#e4dfda;
    background-color:#48a9a6;
    text-decoration:underline;
}
a:active {
    color:#e4dfda;
    background-color:#48a9a6;
    text-decoration:underline;
}