* {
    margin:0;
}
body {
    font-size: 100%;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", "Lucinda Sans", "DejaVu Sans", Verdana, sans-serif;
}
#page {
    max-width:90%;
    margin:auto;
    background-color: cornsilk;
}
#header {
    height:10%;
    padding:3% 0% 3% 0%;
    background-color:#575757;
    color:#f0ebeb;
    text-align:center;
    font-size:200%;
}
#nav, #footer {
    height:1.875em;
    margin:0;
    padding:0;
    background-color:#e49a2f;
    color:#f7f5ee;
    font-size:1em;
    text-align:center;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    align-content: center;
}
li {
    display:inline-block;
    padding:0.25% 2% 3%;
    text-align:center;
}
li a {
    color:white;
    text-decoration:none;
}
.active {
    background-color:#a68e6d;
}
li a:hover {
    background-color:#AC9675;
    text-decoration:none;
}
#content {
    background-color:#D8CCAF;
    overflow:hidden;
    font-size:0.6875em;
    text-align:left;
}
#content_left, #content_right {
    margin:3% 2.5% 5% 2.5%;
    padding:2.5% 2.2%;
    width:40%;
    background-color:#F7F5EE;
    border: 1px solid #AC9675;
    border-radius:4%;
    float:left;
}
span {
    display:block;
    padding-bottom:2%;
    color:darkgoldenrod;
    font-size:1em;
}
img {
    display:block;
    width:100%;
    height:auto;
    margin-top:2%;
}